body {
  background: #FFFFFF;
  font-family: Optima;
  max-width: 800px;
  margin: auto;
  padding: 0em;
  line-height: 1.5em;
}

header {
  background: #FFFFFF;
  font-family: Optima;
  font-weight: bold;
  margin: 0em 0px -0.75em 0px;
}

footer {
  background: #FFFFFF;
  font-family: Optima;
  font-weight: bold;
  margin: -2.5em 0px 2em 0px;
}

h1, h2, h3, p, li {
  color: #484848;
}

body p {
  margin: 0.5em 0px 0em 0px;
}

footer p {
  margin: 2.5em 0px 0em 0px;
}

h1 {
  margin: 1em 0px 0.5em 0px;
}

ol {
  list-style: none;
}

ol>li:before {
  content: "[" attr(seq) "] ";
  margin-left: -2em;
}

h2 {
  margin: 1em 0px 0px 0px;
}

a {
  text-decoration: none;
  color: #B22222;
}

nav ul {
  text-align: center;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  color: #484848;
}

nav ul li:not(:first-child):before {
    padding: 1em;
    margin: 0px;
    content: "|";
}

nav ul li a {
  text-decoration: none;
  color: #484848;
}

footer ul {
  text-align: center;
}

footer ul li {
  display: inline-block;
  list-style-type: none;
  color: #484848;
}

footer ul li:not(:first-child):before {
    padding: 1em;
    margin: 0px;
    content: "|";
}

footer ul li a {
  text-decoration: none;
  color: #484848;
}

footer img {
  display:inline-block;
  vertical-align:middle;
  padding: 0px;
  margin: 0px;
}

br {
  display:block;
  content: ""; /* clears default height */
  margin-top: 0.5em;
}

.bounded {
  /*width: 390px;*/
  width: 400px;
}